<header>
  <h1>
    <a href = "index.html" class = "UD"> 🦎</a>  Seth LaMay | Slippery Lizards | ITIS 3135
  </h1>
<div class="navbar">
    <a href = ".././">Home</a>
    <a href = "../introduction.html">Introduction</a>
    <a href = "../contract.html">Contract</a>
    <a href = "../tables.html">Tables</a>
    <a href = "../form.html">Form</a>
    <a href = "../first-scripts.html">First JS Page</a>
    <a href = "../website_evaluations.html">Website Evaluations</a>
    <a href = "../polygon.html">Polygon Game</a>
    <a href = "../calculator_try.html">Calculator</a>
    <a href = "../slideshow.html">SlideShow</a>
    <a href = "../project_design.html">Project Design</a>
    <a href = "LaMay-Activity11.html">Activity 11</a>
    <a href = "../Updated-Activity12/Activity12.html">Activity 12</a>
    <div class="dropdown">
      <button class="dropbtn">External Projects
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href = "../CRAPPY&.htm">Crappy Page</a>
        <a href = "../../project/">Project Page</a>
        <a href = "../brand-slippery-lizards.html">Brand Page</a>
        <a href = "../hobby/index.html"> Hobby Page</a>
      </div>
    </div>
  </div>
</header>