body 
{
  font-family: Tahoma, sans-serif;
  color: silver;
  background-color: black;
}

a { color: lightblue; }
a:hover { color: red; }

header
{
  font-family: Courier, serif;
  text-align: center;
  color: #CCFCCB;
}
table, tr, td
{
  border-collapse: collapse;
  border-top: 1px solid #CCFCCB;
  border-left: 1px solid #CCFCCB;
  border-right: 1px solid #CCFCCB;
  border-bottom: 1px solid #CCFCCB;
}
