body 
{
  font-family: Tahoma, sans-serif;
  color: silver;
  background-color: black;
}

a { color: lightblue; }
a:hover { color: red; }

header
{
  font-family: Courier, serif;
  text-align: center;
  color: #CCFCCB;
}
table
{
  border-collapse: collapse;
  border-left: none;
  border: white;
}
