body 
{
  font-family: Tahoma, sans-serif;
  color: silver;
  background-color: black;
}

a { color: lightblue; }
a:hover { color: red; }

header
{
  font-family: Tahoma, serif;
  text-align: center;
  color: #CCFCCB;
}
table, th, td
{
  border-collapse: collapse;
  border-top: 2px solid #CCFCCB;
  border-left: 2px solid #CCFCCB;
  border-right: 2px solid #CCFCCB;
  border-bottom: 2px solid #CCFCCB;
}
table tr:nth-child(odd)
{
  background-color: purple;
}

table tr:nth-child(even)
{
  background-color: #CBC3E3;
  color: black;
}

