<footer>
    Created by <a href = "https://webpages.charlotte.edu/slamay1/itis3135/lamaytechnologiesinc.com/index.html">LaMay Designs INC</a> &copy;2022.<br>
      <p class = "UD">
        <a href="https://validator.w3.org/check?uri=referer"id = "validation_link_html" class = "UD">
            <img src="images/button-validation-html5.png" width="88" height="31" alt="Validate webpage HTML.">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer"id = "validation_link_css" class = "UD">
            <img src="images/button-validation-css.png" width="88" height="31" alt="Validate webpage CSS.">
        </a>
    </p>
    <script>
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
  </footer>