body 
{
  font-family: Tahoma, sans-serif;
  color: silver;
  background-image: url('..//images/wood-backround.jpg');
}

a { color: lightblue; }
a:hover { color: red; }

header
{
  font-family: Tahoma, serif;
  text-align: center;
  color: #CCFCCB;
}

footer
{
  font-family: Tahoma, sans-serif;
  text-align: center;
  background-color: gray;
  color: #CCFCCB;
}